//Typography
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

h1 ,h2, h3 {
  font-family: 'Montserrat';
  color: $textcol;
}

h2 {
  font-size: 18px;
  
  a {
        color: $textcol;
       }  
}

h3 {
  font-size: 12px;
  color: $accent;
       
}
  
p {
   font-family: 'open sans'; 
   font-size: 15px;     
} 

//General
body, html {
  width: 100%;
  height: 100%;
}

//Horizontal Rule
.hrule {
  width: 10%;               
  background-color: $accent;
  height: 2.5px;
}

//Highlighted Text
::selection {
  background: $back-one;
  color: $back-two;
}


