#tf-contact{
	padding: 40px 0;
    background: $back-one;
    text-align:center;
    height: 100%;
    border-top: 3px solid $accent;
}

.section-title {
    padding-bottom: 80px;
    color: $back-two;
}

.contact-box {
    color: $back-two;
}

label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    color: $back-two;
}

#tf-contact .form-control:focus {
	border-color: $accent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

button.btn.tf-btn.btn-default {
	float: left;
	background: $accent;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: $back-two;
	text-transform: uppercase;
    text-align: center;
}

//Up Button
a.fa.fa-angle-up {
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 50%;
	font-size: 24px;
    margin-top: 6%;
    	transition: all 0.5s;
}

a.fa.fa-angle-up:hover{
	background: $accent;
	color: #ffffff;
	border: 2px solid $accent;
}
