/* Footer */
nav#footer{
	background: $frame;
	color: $back-two;
	padding: 20px 0 15px 0;
}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: $back-one;
	transition: all 0.5s;
}
#footer i.fa:hover{
	color: $accent; 
    
    }
    
    
    
    
    

