.work-section {
  padding: 60px 0 60px 0;  
  text-align: center;
  background: $back-two;
}

.portfolio-item {
    text-align: left;
}

.work-div {
    padding-bottom: 3%;
}

.img-responsive {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-responsive:hover {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}

//modal
.modal-fullscreen {
  background: $back-one;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: $back-two;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .99;
  filter: alpha(opacity=99);
}
.page-header {
    border:none;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.modal-header {
    border:none;
    text-align: left;
}

.modal-text{
    color: white;
    text-align: left;
}

.modal-button {
	background: $accent;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: $back-two;
	text-transform: uppercase;
    text-align: center;
    position:absolute;
    bottom:0;
    right:0;
    z-index: 999;
}


//.modal-fullscreen size
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}