@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
h1, h2, h3 {
  font-family: 'Montserrat';
  color: black;
}

h2 {
  font-size: 20px;
}

h2 a {
  color: black;
}

h3 {
  font-size: 15px;
  color: #d07c7c;
}

p {
  font-family: 'open sans';
  font-size: 15px;
}

body, html {
  width: 100%;
  height: 100%;
}

.hrule {
  width: 10%;
  background-color: #d07c7c;
  height: 2.5px;
}

/* Navigation */
#tf-menu {
  padding: 20px;
  transition: all 0.8s;
}

#tf-menu.navbar-default {
  background-color: transparent;
  border-color: rgba(231, 231, 231, 0);
}

#tf-menu a.navbar-brand {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.on {
  background-color: #222222 !important;
  padding: 0 !important;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-family: 'Open Sans';
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
  transition: all 0.8s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: 2px solid #d07c7c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
  border-bottom: 2px solid #d07c7c;
  background: transparent;
}

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

#tf-home {
  background: url(../img/01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
  height: 100%;
}

#tf-home .overlay {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  background-attachment: fixed;
}

#tf-home p.lead {
  color: #fff;
}

.content {
  position: relative;
  padding: 20% 0 0;
}

.first-heading {
  color: #fff;
}

.color {
  color: #d07c7c;
}

#tf-about {
  padding: 80px 0;
}

ul.about-list {
  margin: 30px 0 0;
}

ul.about-list li {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

ul.about-list li span {
  margin-right: 10px;
}

a.fa.fa-angle-down {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 200px;
  transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
  background: #d07c7c;
  color: #ffffff;
  border: 2px solid #d07c7c;
}

.work-section {
  height: 100%;
  padding: 60px 0 60px 0;
  text-align: left;
  background: #fff;
}

.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #fff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}

#tf-contact {
  padding: 40px 0;
  background: #EEEEEE;
  text-align: center;
  height: 100%;
}

.section-title {
  padding-bottom: 80px;
}

label {
  float: left;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

#tf-contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
  float: left;
  background: #d07c7c;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* Footer */
nav#footer {
  background: #222222;
  color: #fff;
  padding: 20px 0 15px 0;
}

nav#footer .fnav {
  vertical-align: middle;
}

ul.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

nav#footer p {
  font-size: 12px;
  margin-top: 10px;
}

#footer i.fa {
  height: 30px;
  width: 30px;
  font-size: 20px;
  padding: 4px 5px;
  border-radius: 50%;
  color: #EEEEEE;
  transition: all 0.5s;
}

#footer i.fa:hover {
  color: #d07c7c;
}
